html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
  color: rgb(144, 164, 174);
  font-family: 'Poppins', sans-serif;
}

.rectangle {
  height: 4px;
  background-color: rgb(250, 192, 46 );
  width: 30px;
}

header {
  height: 60px;
  line-height: 60px;
  background-color: rgb(255, 255, 255);
}

.logo {
  float: left;
}

#logo {
    width: auto;
  }

.google {
  padding: 0 0;
  float: right;
}

#gAnalytics {
  height: 48px;
  float: right;
  margin-top: 5px;
}

section {
  height: 700px;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.title h1 {
  color: rgb(250, 192, 46 );
  font-family: 'Teko', sans-serif;
  font-size: 35px;
  font-weight: 300;
}

.title h2 {
  color: rgb(144, 164, 174);
  font-family: 'Teko', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.white {
  color: rgb(255,255,255);
}

h3 {
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  color: rgb(255,255,255);
  padding-bottom: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.media-object {
  margin-right: 30px;
}


.label-info {
  background-color: rgb(33,150,243);
  font-size: 22px;
  font-weight: 300;
}

.media-heading {
  margin-top: 14px;
  margin-bottom: 5px;
  }

.form {
  margin-top: 30px;
  background-color: rgb(255,255,255);
  height: 635px;
  width: 360px;
  float: right;
}

.form h4 {
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  color: rgb(144, 164, 174);
  text-align: center;
  font-weight: 300;
}

.control-label {
  color: rgb(144, 164, 174);
  font-family: 'Teko', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.form-horizontal .control-label {
    text-align: left;
    margin-left: 0px;
  }

  .form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: -15px;
}

.form-group p {
  font-size: 10px;
}

option {
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
}

.send {
  background-color: rgb(250, 192, 46 );
  color: rgb(255,255,255);
  font-family: 'Teko', sans-serif;
  font-weight: 300;
  font-size: 22px;
  height: 50px;
}
