html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  color: rgb(144, 164, 174);
  font-family: 'Poppins', sans-serif;
}

.rectangle {
  height: 4px;
  background-color: rgb(250, 192, 46 );
  width: 30px;
}

header {
  height: 60px;
  line-height: 60px;
  background-color: rgb(255, 255, 255);
}

.logo {
  float: left;
}

#logo {
    width: auto;
  }

.google {
  padding: 0 0;
  float: right;
}

#gAnalytics {
  height: 48px;
}

section {
  height: 710px;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.title h1 {
  color: rgb(250, 192, 46 );
  font-family: 'Teko', sans-serif;
  font-size: 50px;
  font-weight: 100;
}

.title h2 {
  color: rgb(144, 164, 174);
  font-family: 'Teko', sans-serif;
  font-size: 35px;
  font-weight: 100;
}

.white {
  color: rgb(255,255,255)
}
